@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko'), url('./Teko-Regular.ttf') format('truetype')
}

.App {
  /* background-color: #fff; */
  text-align: center;
  color: white;
  font-family: 'Teko', normal;
}
